<div class="row top-buffer" ng-repeat="items in $ctrl.news">
  <div class="col-md-4" ng-repeat="item in items">
    <a href="{{ item.share_url }}">
      <div class="caption">
        <div class="mask"></div>
        <img alt="{{ item.image_name }}" ng-src="{{ item.image_file }}">
          <h4>{{ item.title }}</h4>
      </div>
    </a>
  </div>
</div>



<ul class="pager">
  <li>
    <a class="btn-default" href="#!/news?date={{ $ctrl.previous }}">前一天</a>
  </li>
  <li ng-show="$ctrl.next">
    <a class="btn-default" href="#!/news?date={{ $ctrl.next }}">后一天</a>
  </li>
</ul>
